<nav id="sidr" class="sidr left nav">
    <ul id="main-nav" class="clearfix main-nav menu">
        <li class="cat-item current-cat-parent"><a rel="nofollow" href="">首页</a></li>
        <li>
            <a class="pr" href="/jingdian/" title="中文经典">中文经典</a>
            <ul class="sub-menu">
                <li><a target="_blank" href="/fushengliuji/" title="浮生六记"><strong>浮生六记</strong></a></li>
                <li><a target="_blank" href="/wanli/" title="万历十五年 黄仁宇">万历十五年</a></li>
                <li><a target="_blank" href="/pingfan/" title="平凡的世界">平凡的世界</a></li>
                <li><a target="_blank" href="/weicheng/" title="围城小说">围城</a></li>
            </ul>
        </li>
        <li>
            <a href="/mingzhu/" title="外国名著">外国名著</a>
            <ul class="sub-menu">
                <li><a target="_blank" href="/walden/" title="瓦尔登湖">瓦尔登湖</a></li>
                <li><a target="_blank" href="/naniya/" title="纳尼亚传奇">纳尼亚传奇</a></li>
                <li><a target="_blank" href="/mojie/" title="魔界小说">魔戒</a></li>
                <li><a target="_blank" href="/jidushan/" title="基督山恩仇录">基督山伯爵</a></li>
            </ul>
        </li>
        <li><a href="/yanqing/" title="言情穿越">言情穿越</a></li>
        <li><a href="/xuanyi/" title="悬疑推理">悬疑推理</a></li>
        <li><a href="/yuanzhu/" title="影视原著">影视原著</a></li>
        <li>
            <a href="/jinyong/" title="金庸作品集"> 金庸作品集 </a>
            <ul class="sub-menu">
                <li><a target="_blank" href="/shediao/" title="射雕英雄传">射雕英雄传</a></li>
                <li><a target="_blank" href="/shendiao/" title="神雕侠侣">神雕侠侣</a></li>
                <li><a target="_blank" href="/yitian/" title="倚天屠龙记">倚天屠龙记</a></li>
                <li><a target="_blank" href="/tianlong/" title="天龙八部">天龙八部</a></li>
                <li><a target="_blank" href="/xiaoao/" title="笑傲江湖">笑傲江湖</a></li>
                <li><a target="_blank" href="/luding/" title="鹿鼎记">鹿鼎记</a></li>
            </ul>
        </li>
        <li><a rel="nofollow" href="/notice/">帮助</a></li>
    </ul>
</nav>
